#imgCapas{
    text-align: center;
}

.imgCapas{
    padding: 20px;
    height: 350px;
    width: 400px;
}

#Receita{
    text-align: center;
    font-size: 30px;
    color: black;
}

.cardIngredientes{
    padding: 10px;
    margin: 7px;
    font-size: 20px;
    background-color: #bfbfbf;
    border-radius: 15px;
    color: black;
}

.cardPreparo{
    padding: 10px;
    margin: 7px;
    font-size: 20px;
    background-color: #bfbfbf;
    border-radius: 15px;
    color: black;
}
